<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/slick/slick-theme.css" />
</head>

<body>
    <div class="nav-container">
        <nav>
            <div class="logo"><img src="" alt="">
                <h1>LOGO</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/user/MedicationCounseling">Medication counseling</a></li>
                <li><a href="/user/EntrepreneurshipCounseling">Entrepreneurship counseling</a></li>
                <li><a href="/user/CareerCounseling">Career counseling</a></li>
                <li><a href="/user/DietCounseling">Diet counseling</a></li>
                <li><a href="/user/Products">Products</a></li>
                <li><a href="/user/Articles">Articles</a></li>
                <li><a href="/user/Articles">Dashboard</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <section>
        <div class="heading">
            <h1>ATMx</h1>
            <h2>Health Care</h2>
            <p class="companymoto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Veniam magni reiciendis cum sunt doloremque deleniti facilis
                corrupti, consectetur assumenda dicta.</p>
            <div class="btns">
                <a href="/auth/membership">
                    <button>
                        <p>Be a member</p>
                    </button>
                </a>
                <%if(!loggedInUser) { %>
                <!-- If User Is Not Logged In -->
                <a href="/auth/login">
                    <button>
                        <p>Log In</p>
                        <img src="../public/assets/frontArrow.png" alt="">
                    </button>
                </a>
                <% } else {%>

                <!-- If User Is Logged In -->
                <a href="/auth/signout">
                    <button>
                        <p><%= loggedInUser %></p>
                        <img src="../public/assets/frontArrow.png" alt="">
                    </button>
                </a>
                <% } %>

            </div>
        </div>
        <div class="info">
            <h1>What is being a Member?</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatem inventore mollitia, officia magnam, porro omnis
                maiores dignissimos aliquam nobis optio laudantium, voluptate
                animi velit adipisci. Earum amet sint voluptates necessitatibus?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatem inventore mollitia, officia magnam, porro omnis
                maiores dignissimos aliquam nobis optio laudantium, voluptate
                animi velit adipisci. Earum amet sint voluptates necessitatibus?
            </p>
        </div>
    </section>
    <section class="companyInfo">
        <div class="column1">
            <h1>What we do?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus a necessitatibus hic magnam totam, itaque consequuntur
                pariatur laudantium, atque tempora autem, ab aut vel nihil est at
                voluptatem mollitia ipsam.
                Possimus a necessitatibus hic magnam totam, itaque consequuntur
                pariatur laudantium, atque tempora autem, ab aut vel nihil est at
                voluptatem mollitia ipsam.
            </p>
           
            <br>
            <video width="350" height="240" controls>
                <source src="../public/assets/demo.mp4" type="video/mp4">
            </video>

        </div>
        <div class="column2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus a necessitatibus hic magnam totam, itaque consequuntur
                pariatur laudantium, atque tempora autem, ab aut vel nihil est at
                voluptatem mollitia ipsam.
            </p>
            <img src="../public/assets/doctorImg.png" alt="">
        </div>
    </section>
    <section class="products">
        <h1>Products</h1>
        <h2>Popular among the buyers</h2>
        <div class="pro-crousel">
            <div class="your-class">
                <% if (prod_name!="") { %>
                <% for( let index = 0; index < prod_name.length; index++ ) { %>
                <div>
                    <div class="card">
                        <a href="../buy/<%=prod_id[index] %>">
                        <img src="../uploads/products/<%= prod_img[index] %> " alt="">
                        <div class="desc">
                            <p><%= prod_name[index] %> </p>
                            <p> <%= prod_price[index] %> </p>
                        </div>
                        <h2>Click to buy</h2>
                    </a>
                    </div>
                </div>
                <% } %>
                <% }  else { %>
                <div>
                    <div class="card">
                        <img src="../public/assets/p1.png" alt="">
                        <div class="desc">
                            <p>Demo Product (No Product In Database)</p>
                            <p> Rs. 000</p>
                        </div>
                    </div>
                </div>
                <% } %>




            </div>
        </div>
        <div class="allProducts" style="background: white;
        color: #054A29;

        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        margin:40px auto; border-radius: 10px;">All Products</div>
    </section>
    <section class="knowledgeCenter">
        <h1>Knowledge Center</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vero iure officia earum, omnis hic delectus corporis! Dolor omnis
            quibusdam distinctio quis labore voluptates autem aut vitae officiis
            debitis, suscipit beatae.</p>
        <div class="allcards">
            <% for (let mod of allModules) { %>
            <div class="card">
                <img src="../uploads/modules/thumbnail/<%= mod.thumbnail%>" alt="">
                <div class="desc">
                    <a href="./module/<%=mod.id %>">
                        <p class="mName"><%=mod.name %></p>
                        <p class="price">INR <%=mod.price %></p>
                        <p class="catagory"><%= mod.category %></p>
                        <p><%= mod.description %></p>
                    </a>
                </div>
            </div>
            <% } %>
            
        </div>
    </section>
    <section class="footer">
        <div class="address">
            <h1>Address</h1>
            <p>Pushp Vihar, Sector 3 MB Road, New Delhi 110017</p>
        </div>
        <div class="contact">
            <h1>Contacts</h1>
            <p>Mobile: +91 9416508383</p>
            <a href="">Email : abc@gmail.com</a>
        </div>
        <div class="services">
            <h1>Services</h1>
            <ul>
                <li><a href="/user/MedicationCounseling">Medication counseling</a></li>
                <li><a href="/user/EntrepreneurshipCounseling">Entrepreneurship counseling</a></li>
                <li><a href="/user/CareerCounseling">Career counseling</a></li>
                <li><a href="/user/DietCounseling">Diet counseling</a></li>
                <li><a href="/user/Products">Products</a></li>
                <li><a href="/user/Articles">Articles</a></li>

            </ul>

        </div>
        <div class="workhours">
            <h1>Work hours</h1>
            <p>Mon-Sat : 9:00 AM To 6:00 PM</p>
            <p>Sun : 10:00 AM To 2:00 PM</p>
        </div>
        <div class="socials">
            <h1>Socials</h1>
            <div class="facebook">
                <img src="../public/assets/icons8-facebook-50.png" alt="">
                <a href="">Facebook</a>
            </div>
            <div class="twitter">
                <img src="../public/assets/icons8-twitter-50.png" alt="">
                <a href="">Twitter</a>
            </div>
            <div class="youtube">
                <img src="../public/assets/icons8-play-button-50.png" alt="">
                <a href="">YouTube</a>
            </div>
        </div>
        <div class="credits">
            Made in India | Designed and Developed in By Sukrut, Jaskirat & Sumit
        </div>
    </section>
    <script src="../public/js/nav.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../public/css/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.your-class').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 5000,
                responsive: [
                    {
                        breakpoint: 1025,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 800,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: false
                        }
                    },
                ]
            });
        });
    </script>
</body>

</html>